h1{
 text-align: center;
 color: #999;
}
p{
 color: #999;
}
footer{
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   font-size: 8px;
   font: caption;
}
body{
  background-color:black; 
}
h{
  position:fixed;
   left:0px;
   top:0px;
   height:30px;
   width:100%;
   background:#999;
   font-size: 8px;
   font: caption;
}

big{
  font-size: 50px;
}
html{
  height: 100%;
  width: 100%;
}
